<div class="container">
  <footer class="py-5">
    <div class="d-flex flex-column flex-sm-row justify-content-between border-top py-3">
      <div>© 2023 Niklas Nilsson. All rights reserved.  Lets connect on <i class="bi bi-linkedin me-1"></i> <a href="https://www.linkedin.com/in/niklas-hilding/" class="text-decoration-none">LinkedIn</a> or <i class="bi bi-github me-1"></i><a href="https://github.com/cube-se" class="text-decoration-none">GitHub</a></div>
      <div><i class="bi bi-code-slash me-1"></i><a target="_blank" class="text-decoration-none" href="https://github.com/cube-se/0x68k.github.io">Powerd by Jekyll</a></div>
    </div>
  </footer>
</div>
