    {% include header.liquid %}

    <div class="container my-5">
      <div class="row">
        <div class="col-md-9 mx-auto">
          {{ content }}
        </div>
        <div class="col-md-3 ms-auto">
          {% include latest_posts.liquid %}
          {% include author.liquid %}
          {% include categories.liquid %}
        </div>
      </div>
    </div>

    {% include footer.liquid %}
