<!DOCTYPE html>
<html lang="{{ site.lang }}" data-bs-theme="{{ site.bs_theme }}">

  <!-- Head -->
  <head>
    {% include head.liquid %}
  </head>

  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}">
    <!-- Header -->
    {% include header.liquid %}

    <!-- Content -->
    <main>
      <section class="container my-5">
        <div class="row">
          <div class="col-md-9 mx-auto">
            <article class="page-content">
              {{ content }}
            </article>
          </div>
          <div class="col-md-3 ms-auto">
            {% include latest_posts.liquid %}
            {% unless page.title == "about" %}
              {% include author.liquid %}
            {% endunless %}
            {% unless page.resource %}
              {% include categories.liquid %}
            {% endunless %}
            {% include social.liquid %}
          </div>
        </div>
      </section>
    </main>

    <!-- Footer -->
    {% include footer.liquid %}
</html>

<!-- JavaScripts -->
{% include scripts.liquid %}

