{% include header.liquid %}

<div class="container my-5">
  <div class="row">
    <div class="col-md-9 mx-auto">
      <article class="page-content">
        {{ content }}
      </article>
    </div>
    <div class="col-md-3 ms-auto">
      {% include latest_posts.liquid %}
      {% include author.liquid %}
      {% include categories.liquid %}
    </div>
  </div>
</div>

<!-- Footer -->
{% include footer.liquid %}

<!-- JavaScripts -->
{% include scripts.liquid %}
