 {% include header.html %}

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h1>{{ page.title }}</h1>
        <p class="post-meta">{{ page.date | date: "%B %-d, %Y" }}{%- if page.author -%} • {{ page.author }}{%- endif -%}{%- if page.meta -%} • {{ page.meta }}{%- endif -%}</p>
        <article class="post-content">
          {{ content }}
        </article>
      </div>
      <div class="col-md-3 ms-auto">
        <div class="card tags">
          <div class="card-body">
            <h5 class="card-title">Tags</h5> 
            <ul>
            {% for tag in site.tags %} 
              {% assign tagName = tag | first | downcase %}
              <li><a href='/tags?tagName={{ tagName }}'>{{ tagName }}</a></li>
            {% endfor %}
            </ul>
          </div>
        </div>

        {% if site.related_posts.size >= 1 %}
        <div class="card mt-4">
          <div class="card-body">
            <h5 class="card-title">Related stories</h5>          
            <ul>
              {% for related_post in site.related_posts limit: 5 %}
                <li><a href="{{ related_post.url }}">{{ related_post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

{% include footer.html %}  

